#[wildcards]
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*.sublime-*

#[dotfolders]
.eggs/
.tox/

#[folders]
__pycache__/
build/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
parts/
sdist/
target/
var/

#[dotfiles]
.cache
.coverage
.coverage.*
.installed.cfg
.Python

#[files]
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
