root=true

[*]
charset=utf-8
end_of_line=lf
indent_size=4
indent_style=space
insert_final_newline=true
trim_trailing_whitespace=true

[*.mk]
indent_style=tab

[*.{css,html,json,js,jsx,pug,yml}]
indent_style=space
indent_size=2

[.deos{rc,_profile}]
indent_style=tab

[.{babelrc,eslintrc}]
indent_style=space
indent_size=2

[.env-*]
indent_style=tab

[binding.gyp]
indent_style=space
indent_size=2

[Makefile]
indent_style=tab
