root=true

[*]
charset=utf-8
end_of_line=lf
indent_size=4
indent_style=space
insert_final_newline=true
trim_trailing_whitespace=true

[*.mk]
indent_style=tab

[*.md]
indent_style=space
indent_size=2

[*.xml]
indent_style=space
indent_size=2

[*.{lz,sh}]
indent_style=space
indent_size=2

[*.{css,ui,html,hcl,json,js,jsx,pug,yml}]
indent_style=space
indent_size=2

[.deosrc]
indent_style=tab

[Deosfile]
indent_style=space
indent_size=2

[Makefile]
indent_style=tab

[Vagrantfile]
indent_style=space
indent_size=2
