#[dotfiles]
.DS_Store
.secret

#[dotfolders]
.blockstack/
.cache/
.deos/
.ext/
.nvm/
.obj/
.vagrant/
.venv/
.zerotier/

#[files]
app/bundle.min.js*
app/index.min.html
bin/logic
bin/main*
npm-debug.log
yarn-error.log

#[folders]
static/build/
node_modules/

#[wildcards]
*.o
*.pyc
