[submodule "ext/DeNGINX"]
	path = ext/DeNGINX
	url = https://github.com/DeSantisInc/DeNGINX.git
[submodule "ext/DeWIKI"]
	path = ext/DeWIKI
	url = https://github.com/DeSantisInc/DeWIKI.git
[submodule "ext/DeWEB"]
	path = ext/DeWEB
	url = https://github.com/DeSantisInc/DeWEB.git
[submodule "ext/DePOST"]
	path = ext/DePOST
	url = https://github.com/DeSantisInc/DePOST.git
[submodule "ext/DeSWN"]
	path = ext/DeSWN
	url = https://github.com/DeSantisInc/DeSWN.git
[submodule "ext/DeVPN"]
	path = ext/DeVPN
	url = https://github.com/DeSantisInc/DeVPN.git
[submodule "ext/DeDNS"]
	path = ext/DeDNS
	url = https://github.com/DeSantisInc/DeDNS.git
[submodule "ext/DeGIT"]
	path = ext/DeGIT
	url = https://github.com/DeSantisInc/DeGIT.git
