#[dotfiles]
.DS_Store

#[dotfolders]
.ext/
.nvm/
.obj/
.vagrant/
.venv/
.zerotier/

#[files]
app/bundle.min.js*
app/index.min.html
bin/logic
bin/main*
build/
npm-debug.log
yarn-error.log

#[folders]
app/node_modules/
node_modules/

#[wildcards]
*.o
*.pyc
