#[dotfiles]
.DS_Store

#[dotfolders]
.nvm/
.tmp/
.vagrant/
.virtualenvs/
.zerotier/

#[files]
app/bundle.min.js*
app/index.min.html
bin/logic
npm-debug.log
yarn-error.log

#[folders]
app/node_modules/
node_modules/

#[wildcards]
*.o
*.pyc
