#atd_navbar {
  border-radius: 0 !important;
  background-color: #fff;
}

#atd_navbar_container {
	padding: 0;
}

#atd_search {
	width:200px;
}

#atd_profile_nav {
	height: 38px;
	width: 38px;
	background-color: red;
	border-radius: 5px;
	background-image: url(https://pbs.twimg.com/profile_images/787883336702173184/eIjgcv_N_400x400.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
