#atd_col_left {
    padding-left:0;
    padding-top:12px;
    padding-right:0;
    background-color: #F5F8FA;
}

#atd_col_center {
    padding-top:12px;
    background-color: #F5F8FA;
    height: 100%;
}

#atd_col_center_container {
    background-color: #F5F8FA;
    overflow-y: scroll;
    height: 100vh;
}

#atd_col_right {
    padding-left:0;
    padding-right:0;
    padding-top:12px;
    background-color: #F5F8FA;
}
