doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title DeOS
    link(type="text/css"
         rel="stylesheet"
         href="node_modules/font-awesome/css/font-awesome.min.css")
    link(type="text/css"
         rel="stylesheet"
         href="node_modules/bootstrap/dist/css/bootstrap.min.css")
  body
    div(id="app")
    script.
      { const script = document.createElement('script');
        script.src = 'bundle.min.js';
        document.write(script.outerHTML); }
